DB_URL=mysql+aiomysql://root:123456@localhost:3306/quantmind?charset=utf8mb4

MAIL_USERNAME=你的QQ邮箱@qq.com
MAIL_PASSWORD=QQ邮箱授权码
MAIL_FROM=你的QQ邮箱@qq.com
MAIL_PORT=587
MAIL_SERVER=smtp.qq.com
MAIL_STARTTLS=True
MAIL_FROM_NAME=发件人名称
MAIL_SSL_TLS=False

JWT_SECRET_KEY=请改成随机字符串
JWT_ACCESS_TOKEN_EXPIRES_DAYS=1
JWT_REFRESH_TOKEN_EXPIRES_DAYS=30

DEEPSEEK_API_KEY=你的DeepSeek_API_KEY
MX_APIKEY=你的东方财富妙想_API_KEY

APP_HOST=0.0.0.0
APP_PORT=8000
